/*
*{
    margin:0;
    padding:0;
}
*/

/* global attributes for hyperlink tag */

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}

a:visited{
}

.button{                                                                      
    background-color:#333;                                                                
    color:#fff;                                                                                     
    padding:10px 15px;                                                                              
    border;none;                                                                                    
}             

.button:hover{
    background:red;
    color:white;
}

.clr{
    clear:both;
}
body{
    background-color:#f4f4f4;
    color: #555555;

    font-family: Arial Black, Helvetica;
    font-size: 12px;
    font-weight:bold;
    /* Same as above */
    font: bold 12px Arial, Helvetica, sans-serif;

    line-height:1.6em;
    margin:0; /* Headings have margin by defalt */
}

/* To target a class we use a dot */

.container{
    /* width:500px; - means that it is 500 pixels wide but unresponsive however */
    width:80%;
    margin:auto; /* Sets an auto margin on all sides - it puts an even amount of margin on either side */

}
.box-1{
    background-color:#333333;
    color:#fff; /* Text color */

    border-right: 5px red solid; /* Size color style */
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    /* Same as above */
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted; /* solid dotted dashed doubled etc. */

    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px;

    /* Same as above */
    padding: 20px;

    margin-top:20px;
    margin:20px 0;
}

/* This targets any h1 which is in this class */

.box-1 h1{
    font-family:Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    word-spacing:1em;
}

.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;
}

.categories h2{
    text-align: center;
}

/* <ul > defines an unodrdered bulleted list */
/* <a > defines a hÂyperlink with most important attribute href= - a global variable defined at the top */
/* <li > specifies which kind of bullet point will be used be it value, number etc. */

.categories ul{
    padding:0;
    list-style:square;

}

.categories li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
    padding-left:20px;
    /* list-style-image: url('../images/check.png') */
}

.my-form{
    padding:20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display:block
}

.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:100%;
}

/* Want to do this to everything of type button so in fact send this to the top of css script with tag .button 

.my-form input[type="submit"]{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border;none;
}

*/

.block{
    float:left; /* float property is used for positioning and layout on web pages */
    width:50.0%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;
}

/* use # because these are ids not classes */

#main-block{
    float:left;
    width:70%;
    padding:15px;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#fff
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative;
    background-image:url('../images/image.jpeg');
    background-position:100px 200px;
    background-repeat:no-repeat;
    background-position:center top;
}

.p-box h1{
    position:absolute;
    top:100px;
    left:200px;
}

.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;
}

.fix-me{
    position:fixed;
    top:400px;
}

.my-list li:first-child{
    background-color:red;
}

.my-list li:last-child{
    background-color:blue;
}
