{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% endblock %}Add Comment</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <text name="title" id="title">{{ post['title']}}</text>
    <label for="body">Body</label>
    <text name="body" id="body">{{ post['body'] }}</text>
    <label for="comment" id="comment">Comments</label>
    	<textarea name="comment" id="comment">{{ request.form['comment'] }}</textarea>
    <input type="submit" value="Comment">
  </form>
  <hr>
  </form>
{% endblock %}


