{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }} (Likes: {{ post['likes'] }})</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('blog.comment',id=post['id']) }}">Comment </a>
          <br>
          <form action="{{ url_for('blog.likes', id=post['id']) }}" method="post">
          <button></button>
        </form>
      </br>
        {% else %}
           <a class="action" href="{{ url_for('blog.comment',id=post['id']) }}">Comment</a>
            <form action="{{ url_for('blog.likes', id=post['id']) }}" method="post">
          <button></button>
        </form>        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      {% for comment in comments %}
      {% if comment['post_id'] == post['id'] %}
      <h4>comment from {{comment['author_id']}} : {{ comment['body'] }}</h4>
        {% endif %}
      {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
